trunk/Concert/Concert/Resources/XML/ConcertSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Database">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Countries"/>
        <xs:element ref="Locations" />
        <xs:element ref="Concerts"/>
        <xs:element ref="Bands"/>
        <xs:element ref="Albums"/>
        <!--OK-->
        <xs:element ref="Tracks"/>
        <!--OK-->
        <xs:element ref="Artists"/>
        <!--OK-->
        <xs:element ref="Instruments"/>
        <xs:element ref="ConcertsBands"/>
        <xs:element ref="BandsArtists"/>
        <!--OK-->
        <xs:element ref="ArtistsInstruments"/>
      </xs:sequence>
    </xs:complexType>
    <xs:keyref name="LocationCountry" refer="CountryPK">
      <xs:selector xpath=".//Location" />
      <xs:field xpath="CountryID" />
    </xs:keyref>
    <xs:keyref name="ConcertLocationFK" refer="LocationPK">
      <xs:selector xpath=".//Concert" />
      <xs:field xpath="LocationID" />
    </xs:keyref>
    <xs:keyref name="BandArtistFK" refer="ArtistPK">
      <xs:selector xpath=".//Band/Artists"/>
      <xs:field xpath="ArtistID"/>
    </xs:keyref>
    <xs:keyref name="AlbumBandFK" refer="BandPK">
      <xs:selector xpath=".//Album"/>
      <xs:field xpath="BandID"/>
    </xs:keyref>
    <xs:keyref name ="TrackAlbum" refer="AlbumPK">
      <xs:selector xpath=".//Track"/>
      <xs:field xpath="AlbumID" />
    </xs:keyref>
    <xs:keyref name="ArtistBandFK" refer="BandPK">
      <xs:selector xpath=".//Artist/Bands"/>
      <xs:field xpath="BandID"/>
    </xs:keyref>
    <xs:keyref name="ArtistInstrumentFK" refer="InstrumentPK">
      <xs:selector xpath=".//Artist/Instruments"/>
      <xs:field xpath="InstrumentID"/>
    </xs:keyref>
    <xs:keyref name="ConcertBandFK" refer="ConcertPK">
      <xs:selector xpath=".//ConcertBand"/>
      <xs:field xpath="ConcertID"/>
    </xs:keyref>
    <xs:keyref name="BandConcertFK" refer="BandPK">
      <xs:selector xpath=".//ConcertBand"/>
      <xs:field xpath="BandID"/>
    </xs:keyref>
    <xs:key name="CountryPK">
      <xs:selector xpath=".//Country"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="LocationPK">
      <xs:selector xpath=".//Location"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="ConcertPK">
      <xs:selector xpath=".//Concert"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="BandPK">
      <xs:selector xpath=".//Band"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="AlbumPK">
      <xs:selector xpath=".//Album"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="TrackPK">
      <xs:selector xpath=".//Track"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="ArtistPK">
      <xs:selector xpath=".//Artist"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="InstrumentPK">
      <xs:selector xpath=".//Instrument"/>
      <xs:field xpath="ID"/>
    </xs:key>
    <xs:key name="ConcertBandPK">
      <xs:selector xpath=".//ConcertBand"/>
      <xs:field xpath="ConcertID"/>
      <xs:field xpath="BandID"/>
    </xs:key>
    <xs:key name="BandArtistPK">
      <xs:selector xpath=".//BandArtist"/>
      <xs:field xpath="BandID"/>
      <xs:field xpath="ArtistID"/>
    </xs:key>
    <xs:key name="ArtistInstrumentPK">
      <xs:selector xpath=".//ArtistInstrument"/>
      <xs:field xpath="ArtistID"/>
      <xs:field xpath="InstrumentID"/>
    </xs:key>
  </xs:element>
  <xs:element name="ID">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Date">
    <xs:simpleType>
      <xs:restriction base="xs:string" >
        <xs:pattern value="\p{Nd}{2}.\p{Nd}{2}.\p{Nd}{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BirthDate">
    <xs:simpleType>
      <xs:restriction base="xs:string" >
        <xs:pattern value="\p{Nd}{2}.\p{Nd}{2}.\p{Nd}{4}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Country" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Country">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Locations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Location" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="SeatCount" type="xs:int" nillable="false"/>
        <xs:element name="PostalCode" type="xs:int" nillable="false" />
        <xs:element name="Address" type="xs:string" nillable="false" />
        <xs:element name="CountryID" type="xs:int" nillable="true" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Concerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Concert" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Concert">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="TicketPrice" type="xs:int" nillable="false"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>
        <xs:element ref="Date" />
        <xs:element name="LocationID" type="xs:int" nillable="false" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bands">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Band" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Band">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Albums">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Album" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Album">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>
        <xs:element name="BandID" type="xs:int" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Track" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Track">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="Length" type="xs:int" nillable="false"/>
        <xs:element name="Uploaded" type="xs:boolean"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>
        <xs:element name="Path" type="xs:string" nillable="false"/>
        <xs:element name="AlbumID" type="xs:int" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Artists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Artist" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Artist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="FirstName" type="xs:string" nillable="false"/>
        <xs:element name="LastName" type="xs:string" nillable="false"/>
        <xs:element ref="BirthDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Instruments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Instrument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Instrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ID"/>
        <xs:element name="Name" type="xs:string" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcertsBands">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConcertBand" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConcertBand">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ConcertID" type="xs:int" nillable="false"/>
        <xs:element name="BandID" type="xs:int" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BandsArtists">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BandArtist" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BandArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BandID" type="xs:int" nillable="false"/>
        <xs:element name="ArtistID" type="xs:int" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtistsInstruments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ArtistInstrument" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtistInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ArtistID" type="xs:int" nillable="false"/>
        <xs:element name="InstrumentID" type="xs:int" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
